/*cssreset{{{*/
:root{
  --color1:rgb(2, 21, 38);
  --color2:rgb(3, 52, 110);
  --color2v:rgb(0, 48, 104);
  --color3:rgb(110, 172, 218);
  --color4:rgb(226, 226, 182);
}

body{
  /*
  background-color:rgb(17 54 39);
  */
  color:white;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
}}}

/*reset{{{*/


ul{
  padding:0;
}
li{
 list-style-type: none;
}
/*}}}*/

.container{
  display:grid;
  grid-template-columns: max(160px,20%) auto;
  height:100vh;
}

.sidebar{
  /*background-color:rgb(17 24 39);*/
  background-color:var(--color3);
  grid-column:1/2;
  padding:30px;
  display:flex;
  flex-flow:column;
  gap:40px;
  height:100vh;

}
.non-sidebar{
  grid-column:2/3;
  background-color:var(--color1);
  display:grid;
  grid-template-rows:50px auto 1fr;
  gap:0;
}

.topmenu{
  background-color:var(--color2);
  height:40px;
  grid-row:1/2;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 10px;
}

.topmenu li{
  align-content:center
 }

.mainmenu{
  background-color:var(--color2);
  grid-row:2/3;
  display:grid;
  grid-template-columns: 20px auto repeat(3,min(60px));
  padding:5px 15px;
  grid-template-rows: repeat(2,auto);
  gap:5px;

}

.mainmenu h2{
  font-size: 10px;
  grid-row:1/2;
  grid-column:2/3;
}

.mainmenu h1{
  grid-row:2/3;
  grid-column:2/3;
  font-size: 15px;
}
.new-post{
  grid-column:3/4
}
.upload{
  grid-column: 4/5;
}
.share{
  grid-column: 5/6;
  grid-row:1/3;
}

.share,
.upload,
.new-post{
  grid-row:1/3;
  height:25px;
  align-self:center;
 }

 .topmenu button{
   height:5px;
 }
 .fa{
   font-size:2px;
   height:1px;
   cursor:pointer;
 }
.searchmenu{
  padding:0;
}


/* Style the submit button */
form.search button {
  width: 20%;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
.topmenu button {
  float: left;
  width: 100%;
  background-color: var(--color2);
  color: white;
  border: 1px solid var(--color2);
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

 form.search input[type=text] {
  border: 1px none;
  float: left;
  width: 80%;
  height:50%;
  background:var(--color2v) 
  color:white;
}
